<header id="header">
  <a href="{{ .Site.BaseURL }}">
  {{ if (isset .Site.Params "gravatar") }}
    <div id="logo" style="background-image: url(https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar }}?s=100&d=identicon)"></div>
  {{ else if (isset .Site.Params "logo") }}
    <div id="logo" style="background-image: url({{ .Site.Params.logo | absURL }})"></div>
  {{ else }}
    <div id="logo" style="background-image: url({{ "images/logo.png" | absURL }})"></div>
  {{ end}}
  <div id="title">
    <h1>{{ .Site.Title }}</h1>
  </div>
  </a>
  <a href="https://drive.google.com/file/d/1XjAle4wFmJ8BBG66kwvmyJ4cSATOLsW-/view?usp=sharing">CV</a> |
  <a href="https://www.linkedin.com/in/bryce-tichit-a725a6148/">LinkedIn</a> |
  <a href="https://github.com/akaban">Github</a> |
  <a href="https://twitter.com/BryceTichit">Twitter</a> |
  <a href="mailto:tichit.bryce@gmail.com">Contact</a>
  <br/><br/>
  {{ if .IsHome }}
  {{ partial "me" }}
  {{ end }}
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
      </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>
</header>

